@page "/CadastroCliente"
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro dos Clientes</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1>Cadastro dos Clientes</h1>

    <div class="form-container">

        <div class="form-group">
            <label for="id">Informe ID do Cliente se Ouver</label>
            <input type="text" id="id" placeholder="ID">
        </div>

        <div class="form-group">
            <label for="cpf">Informe o CPF do Cliente</label>
            <input type="text" id="cpf" placeholder="CPF">
        </div>

        <div class="form-group">
            <label for="nome">Nome Completo</label>
            <input type="text" id="nome" placeholder="Nome">
        </div>

        <div class="form-group">
            <label for="dataNascimento">Data Nascimento</label>
            <input type="date" id="dataNascimento">
        </div>

        <div class="form-group">
            <label for="estadoCivil">Estado Civil</label>
            <input type="text" id="estadoCivil" placeholder="Estado Civil">
        </div>

        <div class="form-group">
            <label for="rg">RG</label>
            <input type="text" id="rg" placeholder="RG">
        </div>

        <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="tel" id="telefone" placeholder="Telefone">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Email">
        </div>

        <div class="form-group">
            <label for="endereco">Endereço</label>
            <input type="text" id="endereco" placeholder="Rua, Bairro, Número">
        </div>

        <div class="form-group">
            <label for="cargo">Cargo</label>
            <input type="text" id="cargo" placeholder="Cargo">
        </div>

        <div class="form-group">
            <label for="setor">Setor</label>
            <input type="text" id="setor" placeholder="Setor">
        </div>

        <a href="/escolha-livro">
            <button type="submit">Cadastrar</button>
        </a>
        

    </div>

</body>
</html>