body{
    background-color:#f1e8e2;
    font-family: Arial, sans-serif;
}

.container{
    width:700px;
    margin:auto;
    padding:30px;
}

h1{
    text-align:center;
    margin-bottom:30px;
}

label{
    display:block;
    font-weight:bold;
    margin-top:15px;
    margin-bottom:5px;
}

input{
    width:200px;
    padding:8px;
    border:2px solid blue;
    border-radius:6px;
}

.livro{
    width:200px;
    padding:8px;
    margin-top:5px;
    border:1px solid #ccc;
    border-radius:6px;
    cursor:pointer;
    background:white;
}

.livro:hover{
    background:#ddd;
}

button{
    display:block;
    margin-top:20px;
    padding:10px 20px;
    border:none;
    border-radius:6px;
    background:blue;
    color:white;
    cursor:pointer;
}