@page "/login"

<div class="login-box">

    <label>Email</label>
    <input type="email" placeholder="Seu@gmail.com">

    <label>Senha</label>
    <input type="password" placeholder="Senha">

    <a href="/CadastroCliente">
        <button class="solid">
            Entrar
        </button>
    </a>
    

    <button class="outline">
        Registrar
    </button>

<a href="/recp_senha">
    <button class="clear">
        Recuperar senha
    </button>
</a>
</div>
