@page "/recp_senha"

<div class="recp-box">

    <label>Email</label>
    <input type="email" placeholder="Seu@gmail.com">

    <label>OU</label>

    <label>Numero</label>
    <input type="password" placeholder="(dd) número">


    <button class="solid">
        Enviar
    </button>
</div>